body{
    height: fit-content;
    color: rgb(254, 253, 253);
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: transparent;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 90px;
    border-bottom: 1px solid white;

}
h2{
  font-size: 2rem;
  line-height: 50px;
}

p{
  font-size: 1rem;
}

h3{
  font-weight: lighter;
  font-size: 1.5rem;

}

button{
  font-size: 1em;
  background-color: rgba(123, 36, 36, 0.84);
}

button:hover{
  background-color: rgba(0, 0, 0);
}

a{
  text-decoration: none;
  color: white;
}

.home{
    display: flex;
    position: relative;
    margin-top: -91px;
    margin-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/Beige\ Collage\ Minimalist\ Mood\ Board\ Instagram\ Post.svg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:scroll;
    height: 600px;
    width: 100%;


}

.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.home button{
    height: 50px;
    width: 40%;
    color: white;
    border: none;
    border-radius: 30px;
    transition: background-color 0.4s;
}

.right-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: relative;
}

.dropdown-menu .dropdown{
    position: absolute;
    background-color: rgb(87, 85, 85);
    color: white;
    padding-top: 10px;
    border-radius: 6px;
    font-size: 15px;
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    opacity: 0;
    width: fit-content;
    transition: opacity 0.15s;
    white-space: nowrap;
    z-index: 100;
    visibility: hidden;
}

.dropdown p{
    padding: 9px 30px ;
}

.dropdown p:hover{
  background-color: rgb(55, 55, 55);
}

.dropdown-menu:hover .dropdown{
    opacity: 1;
    visibility: visible;
}

.cart-container{
  position: relative;
}

.cart-container .count{
  position: absolute;
  top: -8px;
  right: -10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
}

.account-sec .tooltip,
.search-icon .tooltip,
.cart-sec .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -40px;
    right: -10px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.account-sec .tooltip{
  right: 10px;
}

.account-sec:hover .tooltip, 
.search-icon:hover .tooltip,
.cart-sec:hover .tooltip{
    opacity: 1;
}



.search-box{
    background-color: transparent;
    color: white;
    height: 30px;
    width: 70%;
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-right: none;
    padding-bottom: 2px;
    padding-left: 9px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    outline: none;
}

input::placeholder{
    color: white;
}

.middle-header{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    width: 40%;
}

.middle-header img{
    width: 12px;
}

.middle-header div{
    cursor: pointer;
}

.dropdown-menu{
    display: flex;
    position: relative;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.left-header{
    width: 30%;
    font-family: 'Newsreader', sans-serif;
    font-size: 24px;
    font-weight: solid;

}

.search-icon{
    position: relative;
    background-color: transparent;
    border-style:solid;
    border-width: 1px;
    border-color: white;
    border-left: none;
    height: 34px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0;
}

.account-icon, .cart-icon{
    width: 35px;
    margin-left: 20px;
}

.product-showcase{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    height: fit-content;
    padding: 30px;
    padding-top: 0;
    
}

.showcase{
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 280px;
    height: 450px;
    border-style: solid;
    border-radius: 30px;
    border-color: silver;
    margin: 0;
    padding-top: -20px;
    padding-bottom: 20px;

    

}

.showcase button{
  height: 30px;
  width: 40%;
  color: white;
  background-color: rgba(123, 36, 36, 0.912);
  border: none;
  border-radius: 30px;
  transition: background-color 0.4s;
}

.showcase button:hover{
  background-color: black;
}

.showcase img{
    
    width: 250px;
    margin-right: 15px;
}

.monalisa{
    border-radius: 30px;
    border-radius: 5px;
    object-fit: cover; 
    height: 300px; 
    width: 250px;
    margin-top: 10px;
    margin-left: 15px;
}

.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    gap: 40px;
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.bestsellers{
    margin-top: 30px;
    color: black;
    margin-left: 30px;
}

.sales-section{
    display: block;
    margin-bottom: 10px;
    height: fit-content;
}

.mid-section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 800px;
    height: fit-content;
    height: 800px;
    min-height: 500px;
    border-top: 2px solid rgba(123, 36, 36, 0.912);

}
.mid-section .img1{
  position: absolute;
  width: 100%;            
  height: 100%;           
  border: none;
  object-fit: cover;
    
}
.mid-section h3{
  text-align: center;
  width: 300px;
}

.mid-section-text{
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.mid-section-text button{
  height: 50px;
  width: 40%;
  color: white;
  background-color: rgba(123, 36, 36, 0.912);
  border: none;
  border-radius: 30px;
  transition: background-color 0.4s;
}

.mid-section-text button:hover{
  background-color: black;
  
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  gap: 80px;
  color: black;
  height: 500px;
  border-top: 2px solid rgba(123, 36, 36, 0.912);
  line-height: 28px;
  padding: 0 50px;
  
}

.contact-icons{
  display: flex;
  gap: 10px;
}

.contact-icons img{
  width: 40px;
}